.btn-round-white {
  display: none;
}

.btn-round-green {
  display: none;
}

.time {
  display: block;
}
.list-sec {
  cursor: pointer !important;
}

.list-sec:hover {
  background: #d3d3d338 !important;
}

.list-sec:hover .time {
  display: none !important;
}

.list-sec:hover .btn-round-green {
    display: block !important;
    /* border: 1px solid #23e70c4a; */
    border-radius: 25px;
    width: 31px !important;
    height: 31px !important;
    background: white;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 1px 4px 0px #a9a9a9bf !important;
}

.phone .st0 {
    fill: #07b745 !important;
}
.list-sec:hover .btn-round-white {
    display: block !important;
    background: white !important;
    background: #ffffff !important;
    border-radius: 7px !important;
    width: 50px !important;
    height: 30px !important;
    border: 1px solid #00000040 !important;
    margin-right: 5px !important;
    color: #000000ab !important;
    padding: 0px !important;
    float: right !important;
    min-width: 70px !important;
    font-weight: 600 !important;
    cursor: pointer;
    box-shadow: 1px 1px 2px 0px #0000001c !important;
}

.btn-round-white-hist {
  display: block !important;
  background: white !important;
  /* background: #07b745 !important; */
  border-radius: 27px !important;
  /* width: 30px !important; */
  height: 38px !important;
  border: 0px solid #07b745 !important;
  margin-right: 5px !important;
  color: #a5a5a5 !important;
  padding: 0px !important;
  /* float: right !important; */
  min-width: 70px !important;
  font-weight: 600 !important;
  cursor: pointer;
  box-shadow: 0px 1px 4px 0px #00000033 !important;
}

.call_log_id{
  float: right !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #485968 !important;
}

.row.align-items-center {
  width: 340px !important;
  /* width: 95px !important; */
}
.history-body > div {
  margin: auto;
  height: 350px;
  width: 358px;
  overflow-y: auto;
  overflow-x: inherit;
}
html {
  margin: -3px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.iswebhookurl {
  margin-top: 105px;
  margin-left: 94px;
}
.webhookurl {
  margin-top: 105px;
  margin-left: 94px;
}
input#webhook {
  margin-left: -79px;
  width: 335px;
}
.getWebhook {
  height: 50px;
  width: 250px;
  font-size: 17px;
  margin-left: -40px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  font-size: 10px;
}
.bg-info {
  background-color: #417d9a;
}

.nav-tab-active {
  color: #f00;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.cls_setting {
  margin-left: 50px;
  margin-top: 5px;
  font-size: 18px !important;
  background: none;
  border: none;
  /* outline: none !important; */
  height: 25px;
}
.cls_setting1 {
  margin-left: 0px;
  margin: -15px 0px 0px 6px;
  font-size: 15px !important;
  background: none;
  border: none;
}
.cls_Pno {
  color: #343536;
  font-size: 14px;
  margin: 5px 0px 4px 0px;
  font-weight: 500;
  padding: 0px 5px 0px 5px;
  display: flex;
}
.history-calls {
  margin: 10px 0px 10px 0px !important;
  /* background-color: #343536 !important;
    color: white !important; */
  /* border-radius: 5px !important; */
}
.all-calls {
  margin: 0px 20px !important;
}
.callTypeSelect {
  background: #12344d !important;
  border: none !important;
  font-size: 13px !important;
  padding: 5px 5px 5px 2px !important;
  font-weight: 500 !important;
}
.history-head {
  padding: 5px 5px 5px 5px !important;
  background-color: #12344d !important;
  color: white !important;
  border-radius: 5px !important;
}
.bg-light-blue {
  background: white !important;
  border-radius: 20px !important;
  height: 30px !important;
  width: 70% !important;
  padding: 5px !important;
  box-shadow: 0px 1px 4px 0px #00000033 !important;
}
.bg-light-green {
  background: white !important;
  border-radius: 20px !important;
  height: 30px !important;
  width: 70% !important;
  padding: 5px !important;
  box-shadow: 0px 1px 4px 0px #00000033 !important;
}
.cls_call_1 {
  padding: 0px;
  font-size: 12px;
}
.cls_call_P {
  margin: 0px 0px 5px 0px;
  font-weight: 600;
  font-size: 13px;
}
.cls_call_span {
  font-size: 13px;
  font-weight: 600;
}
.outgoing .st0 {
  fill: #27da2a !important;
}
.incoming .st0 {
  fill: #ffa800 !important;
}
.outgoing {
  padding: 2px !important;
}
.incoming {
  padding: 2px !important;
}
.missed {
  padding: 2px !important;
}
.cls_call_B {
  border-bottom: 1px solid #69696936 !important;
  border-radius: 0px 0px 14px 14px !important;
}
.cls_mb {
  padding: 3px 5px 0px 0px;
  font-size: 16px;
  color: #555656;
}
.content-body {
  height: 290px !important;
  overflow-y: auto;
}
.call-head .rounded-pro-sm {
  background: #ffa800;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  padding: 4px 0px 0px 0px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.call-head {
  padding: 0px 0px 11px 0px !important;
}
.cls_icon {
  padding: 1px 0px 0px 25px !important;
}
.cls_back {
  margin-left: 320px;
  margin-top: -40px;
  font-size: 18px !important;
  background: transparent;
  color: white;
  border: none;
}
.call-head .person-details p {
  font-size: 14px;
  color: #000;
  margin-bottom: 2px;
  font-weight: 600;
}
.call-head .person-details span {
  color: #000000;
  font-size: 13px;
  line-height: normal;
}
.head-tabs-sec.nav li a.active {
  border-bottom: 1px solid #ffffff !important;
  color: #fdd587;
  font-weight: 600;
  background: transparent;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #163852;
  border-color: #dee2e6 #dee2e6 #fff;
}
.head-tabs-sec.nav li a {
  color: #ffffff;
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  border: none;
  font-weight: 400;
}
.bg-dark-blue {
  background: #12344d !important;
}
.head-tabs-sec.nav li {
  padding: 0px 30px 0px 30px !important;
}
.cls_notkt {
  background: white !important;
  color: #716262 !important;
  padding: 10px !important;
}
.head-tabs-sec.nav {
  /* border-bottom: 1px solid #ebeff3 !important; */
  margin: 15px 0px -10px 0px !important;
}
.cls_viewcon {
  background-color: #ffffff;
  color: #12344d;
  /* min-width: 80px; */
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  border: 1px solid #12344d;
  margin: 0px -30px 0px 0px;
  padding: 5px 5px 5px 5px;
  text-transform: capitalize;
}
.marketplace-cti-body {
  overflow: hidden;
  position: relative;
  padding: 10px;
  z-index: 1;
  height: 425px !important;
}
.unified360-widgets-item .active {
  background-color: transparent !important;
}
