@font-face {
	font-family: 'nunitobold';
	src: url('../fonts/nunito-bold-webfont.woff2') format('woff2'),  url('../fonts/nunito-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'nunitolight';
	src: url('../fonts/nunito-light-webfont.woff2') format('woff2'),  url('../fonts/nunito-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'nunitoregular';
	src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),  url('../fonts/nunito-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'nunitoregular';
	font-size: 16px;
}
a, button, input, select {
	outline: none !important
}

.pad0{padding:0 !important}
.topotr{
    /* display: table; */
    float: left;width: 100%}
.topbg{background: #f6f6f6;padding: 20px 10px;xborder: 1px solid #d8d8d8;
    /* display: table-cell; */
    vertical-align: middle;min-height: 200px;width: 100%}
.tophd{background: #f6f6f6;padding:10px;width: 100%;float: left}
.tophd h3{margin:7px 0px;font-size: 19px;}
.topbgcnt{     text-align: center;
    height: 439px;
    background-color: #062256cc;
    padding-top: 84px;
    padding-bottom: 44px;
    padding-right: 61px;}
    .search{     text-align: center;
        background-color: transparent;
        padding-top: 84px;
        padding-bottom: 1px;
        padding-right: 61px;}
.topbgcnt img{width:70px;height: 70px;border-radius: 50px;display: inline-block}
.topbgcnt .name{font-weight: bold;color:#ff8f02;margin: 3px 0;font-size: 17px}
.topbgcnt .namedesc{color:#919eab;margin: 3px 0;font-size: 14px}
.baricn{padding:10px;background: #545454;width:100%;float:left}
.baricn ul{width:100%;float:left;margin: 0;padding: 0}
.baricn ul li{width:25%;float:left;text-align: center;list-style: none;padding: 10px}
.baricn ul li a{border: 1px solid #fff;border-radius: 50px;padding: 10px}
.listcnt ul{width:100%;float:left;margin: 0;padding: 0}
.listcnt h3{font-size: 16px;font-weight: bold;margin: 20px 10px 0px;float: left;width: 100%}
.listcnt ul li{border-bottom: 1px solid #e8e7e7;padding: 10px;color: #333;font-size: 14px;list-style: none}
.listcnt ul li img{margin-right: 5px}
.btn1{background: #f7761f;padding: 7px 20px;color: #fff;text-decoration: none;font-size: 15px;}
.btn2{background: #898a8a;padding: 7px 20px;color: #fff;text-decoration: none;font-weight: 200;font-size: 14px;}
.btn1:hover,.btn2:hover{text-decoration: none;color:#fff}
.mgnrgt10{margin-right: 10px}
.mgntp3{margin-top: 3px}
.formsec{width:100%;float:left;padding: 10px}
.formsec .form-label{font-weight: normal}
.bdrnon{border: none !important}
.pdlft0{padding-left: 0 !important}
button.aplbl, div.btn.aplbl {font-size: 12px;float: left;background: #e2e2e2;padding: 1px 7px;margin: 2px !important;color: #333;    margin: 0 2px;border: none;-webkit-transition: background .25s ease-out;-moz-transition: background .25s ease-out;-o-transition: background .25s ease-out;transition: background .25s ease-out; box-shadow: 0 1px 0 rgba(0,0,0,.1);}
.remoicn{margin-top: 3px;border-left: 1px solid #ccc;margin-left: 5px;padding-left: 5px} 

[type="radio"]:checked,[type="radio"]:not(:checked) {position: absolute;left: -9999px;}
[type="radio"]:checked + label,[type="radio"]:not(:checked) + label{position: relative;padding-left: 28px;cursor: pointer;line-height: 20px;display: inline-block;font-weight: normal}
[type="radio"]:checked + label:before,[type="radio"]:not(:checked) + label:before {content: '';position: absolute;left: 0px;top: 0px;    width: 20px;height: 20px;border: 1px solid #ddd;border-radius: 100%; background: #fff;}
[type="radio"]:checked + label:after,[type="radio"]:not(:checked) + label:after {content: '';width: 12px;height: 12px;background: #898a8a;position: absolute;top: 4px;left: 4px;border-radius: 100%;-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
[type="radio"]:not(:checked) + label:after {opacity: 0;-webkit-transform: scale(0);transform: scale(0);}
[type="radio"]:checked + label:after {opacity: 1;-webkit-transform: scale(1);transform: scale(1);}




.num-field {position: relative;float: left; width: 100%;}
.num-field input.search {float: left;width: 100%;padding: 15px;background-color: #f5f5f5;border-radius: 1px solid #ddd;color: #008adc;
border: none;position: relative;margin-bottom: 20px;}
.num-field input + img {position: absolute;right: 10px;z-index: 99;top: 7px;}
.num-pad {float: left;width: 100%; margin-top: 20px;}
.num-pad a {float: left;width: 33.33%;font-size: 20px;text-align: center;margin-bottom: 30px;text-decoration: none;color:#3e70f1;}
.num-pad a span.num {color: #4b5c68 !important;font-size: 30px;font-family: 'nunitoregular';}
.num-pad a span {display: block;width: 100%; color: #b3b2b2; font-family: 'nunitolight';}
.dial {background: #f7761f;padding: 5px 0px;float: left; width: 100%;text-align: center;}
.dial a {width: 100px;display: inline-block;background-color: #f7761f;padding: 10px 10px 5px 10px;-webkit-border-top-left-radius: 50%;   -webkit-border-top-right-radius: 50%;-moz-border-radius-topleft: 50%;-moz-border-radius-topright: 50%;border-top-left-radius: 50%;    border-top-right-radius: 50%;}
.dial a img {width: 30px;}
.timeline-details {padding: 10px;webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.30);-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.30);box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.30);display: inline-block;vertical-align: middle; width: 100%; margin:10px 0;background-color: #fff;display: table}
.timeline-details .cell{display: table-cell}
.list{margin-bottom: 5px;float: left;width:100%;font-size:15px;}
.list span{padding-left:10px !important;padding-right: 0 }
.list label{font-size:15px;}
.valign{vertical-align: middle}
.fltnon{float: none !important}
.tab-nav ul {display: block;margin: 0;padding: 0;float: left;width: 100%; margin-bottom: 10px;}
.tab-nav li {list-style: none; display: inline;}
.tab-nav li a {float: left;display: inline-block; padding: 10px 0 5px 0px; width: 33.33%;text-align: center;background: #f6f6f6;   border-radius: 12px;position: relative;top: 5px;}
.circlebg{    width: 94px;
    height: 94px;
    border-radius: 50px;
    display: inline-block;
    background-color: #9ec9ef;
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    /* text-align: center; */
    /* margin-bottom: 38px; */
    padding-top: 10px;}

.circlebgContact{
    width: 94px;
    height: 94px;
    margin-left: 55px;
    display: inline-block;
    background-color: #9ec9ef;
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    padding-top: 10px;
}
.logcallBtn{
    border-bottom: 65px;
    margin-left: 199px;
    margin-top: -67px;
}

.contactShowNameAndPhone {
    margin-left: 55px;
}


    html,


.Vlt-card__image.Vlt-card__image--blue {
    height: 5px;
}
button.btn.btn-primary.pull-right.ticketlink {
    padding-left: 4px;
    padding-right: 1px;
    margin-right: 10px;
    background-color: #9ec9ef;
}
.card.text-white.bg-info.mb-3 {
    background-color: #9ec9ef;
    height: 84px;
}
.inp{
    margin-top: -58px;
    text-align: center;
    margin-left: 37px;
}
#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }
#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    width: 279px;
    margin-left: 10px;
    display: block;
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }
button#ModalPopup {
    background-color: #9ec9ef !important;
    margin-top: 9px;
}
button#Contact {
    background-color: #9ec9ef !important;
}
button#contactCreation {
    background-color: #9ec9ef !important;
}
button#tickets {
    background-color: transparent;
    margin-top: 10px;
    padding-bottom: 3px;
}
button#showContacts {
    background-color : transparent;
    margin-top: 10px;
}
button#back {
    background-color: #9ec9ef !important;
}
.card.text-white.bg-info.mb-3 {
    background-color: #9ec9ef;
    height: 84px;
}
button#logcall {
    background-color: #9ec9ef !important;

}

button#logcreate, #logcancel {
    background-color: #9ec9ef;
    width: 100%;
    height: 35px;
    color: white;
    /* margin-left: 33px; */
    margin-right: -81px;
    /* margin-top: -6px; */
    margin-bottom: 52px;
}

.logButtons {
    position: left;
    margin-right: -2px;
}

select#priority {
    width: 147px;
}
select#status {
    width: 121px;
    margin-left: -21px;
}
input#contactnumber {
    width: 100%;
}
textarea#description {
    width: 100%;
    overflow:scroll;
}
input#subject {
    width: 100%;
}
.col-xs-12.displayotr {
    border-style: groove;
    width: 353px;
}


/*============*/
button#reply {
    background-color: darkcyan;
    padding: 2px;
    float: right;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: darkcyan;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: darkcyan;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}
/************ caller profile ***************/

.caller-details.text-center {
    margin-left: 2px;
}
/******* call history **********/
  .pdlft0{
        margin-left: 199px !important;
        margin-top: -38px !important;
        padding-left:0px !important;
    }
    .col-7.text-left {
    
    margin: 0px 0px;
}


.all-calls {
    margin: 0px 25px;
}
/* merge tickets */
.row.align-items-center {
    width: 373px;
}
/* caller oncall */
.upstatus {
    margin-left: 200px;
    margin-top: -53px;
}