body {
  position: relative;
}
.fw-main-container {
  width: 70%;
  margin: 30px auto;
}
.primary-heading {
  font-size: 16px;
  margin-bottom: 10px;
}
.spinner-container {
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: rgba(247, 247, 247, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-text {
  font-size: 13px;
  color: rgb(18, 52, 77);
  font-weight: 500;
}
.cls_http {
  width: 8%;
  /* display: table-cell; */
  background: #f7f7f7;
  padding: 7px 15px 0px 16px;
  height: 31px;
  margin: 28px 0px 0px 0px;
  border-radius: 2px;
}

.cls_com {
  width: 15%;
  /* display: table-cell; */
  background: #f7f7f7;
  padding: 7px 15px 0px 16px;
  height: 31px;
  margin: 28px 0px 0px 0px;
  border-radius: 2px;
}

.cls_clkhere {
  float: right;
}

.cls_apiclkhere {
  float: right;
}

#exotel_endpt_url {
  display: none;
}

select {
  width: 100%;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d6d6d6;
  display: block;
  background-color: #fff;
  color: rgb(24, 50, 71);
  background-color: rgb(255, 255, 255);
  margin-top: 5px;
  border-radius: 5px;
  padding: 2px 0px 3px 10px;
  font-size: 12px;
}

select:hover {
  border: 1px solid rgb(71, 88, 103) !important;
  transition: all 0.2s linear 0s !important;
}

select:focus {
  border: 2px solid #2c5cc5 !important;
  transition: all 0.2s linear 0s !important;
}

option {
  font-size: 13px !important;
}

.help-block {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 11px;
  margin-top: 3px;
  color: rgb(172, 182, 190);
  position: inherit;
  margin-bottom: 0px;
  display: block;
  padding-left: 2px;
  -webkit-font-smoothing: antialiased;
}

.required {
  font-size: 12px;
  color: rgb(71, 88, 103);
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 4px;
  padding-left: 2px;
  display: block;
}

label.required::after {
  content: "*";
  position: relative;
  display: inline-block;
  top: 2px;
  font-size: 14px;
  color: rgb(215, 45, 48);
  padding-left: 2px;
  font-weight: 700;
}

.input-container {
  margin-bottom: 15px !important;
  margin-top: 5px !important;
  height: inherit;
}

/*------------------------- Multiselect ---------------------------*/

/* div.multiselect, select#meal, button {
  margin: 5px;
} */

.select2-selection--multiple {
  overflow: hidden !important;
  height: auto !important;
  width: 100% !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  margin: 5px 5px 2px 5px !important;
  padding-top: 3px !important;
  padding-bottom: 5px !important;
  background-color: #e3e3e369 !important;
}

.select2-container .select2-search--inline .select2-search__field {
  height: 25px !important;
}

.select2-results__option {
  padding: 10px !important;
  font-size: 13px !important;
}

.select2-selection__choice__remove {
  padding: 2px 4px !important;
  top: 1px !important;
  color: #828282 !important;
  font-size: 14px !important;
}

.select2 {
  overflow: hidden !important;
  height: auto !important;
  width: 100% !important;
}

select {
  height: auto !important;
}

select:focus {
  box-shadow: none !important;
  border-color: var(--main-color) !important;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  border: 1px solid rgb(207, 215, 223);
  margin: 5px 0px 0px;
  border-radius: 4px;
  padding: 4px 12px 5px;
  resize: none;
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  min-height: 24px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgb(24, 50, 71);
  box-sizing: border-box;
  cursor: text;
  display: inline-block;
  font-family: inherit;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
  padding: 10px 0px 10px 0px;
}
#checkboxes label input {
  margin: 0px 10px -2px 10px;
  outline: none;
}

#checkboxes label:hover {
  background-color: #cccccc;
}

.cls_clkuser {
  width: 100% !important;
  padding: 0px !important;
  font-size: 12px !important;
  border-radius: 5px !important;
  background: #e57300 !important;
  border: 1px solid #e57300 !important;
}
